      .header {
          height: 80px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          justify-content: space-between;
          background-color: rgb(225, 225, 225);
          border-style: none;
          border-radius: 3px;
          position: fixed;
          top: 20px;
          left: 50px;
          right: 50px;
          z-index: 100;
      }

      .left-section {
          width: 250px;
          display: flex;
          flex-direction: row;
          align-items: center;
      }

      .plane-icon {
          height: 45px;
          padding: 0px 12px 0px 12px;
      }

      .author-details {
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .author-name {
          font-size: 20px;
          font-weight: 600;
          padding-bottom: 5px;
      }

      .author-designation {
          font-size: 13px;
      }

      .right-section {
          width: 700px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-right: 100px;
      }

      .menu {
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0px 5px 0px 5px;
          border-radius: 5px;
          font-size: 20px;
          font-weight: 400;
          border-style: none;
          border-color: none;
          transition: 0.25s;
          margin: 0 10px 0 10px;
      }

      .menu:hover {
          /* background-color: rgb(230, 230, 230); */
          cursor: pointer;
          /* text-decoration: underline; */
          /* border-width: 1px; */
          /* border-style: solid; */
          /* border-color: rgb(220, 220, 220); */
          /* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08); */
          font-size: 25px;
      }
